<div class='container flex flex-col items-center justify-center h-full'>

  <div class="mb-8 card">
    <h1>Log in</h1>
    <div class="p-fluid">
      <div class="mt-8 p-input-filled p-field p-float-label p-input-icon-right">
        <i class="pi pi-times" (click)='onClickClearValue()'></i>
        <input [(ngModel)]="email" id="email" type="email" pInputText />
        <label for="email">Email address</label>
      </div>
      <div class="mt-8 p-input-filled p-field p-float-label">
        <p-password [(ngModel)]="password" id="password" [toggleMask]="true" [feedback]="false"></p-password>
        <label for="password">Password</label>
      </div>
    </div>
  </div>

  <p-button label="Log in" (click)='onClickSignIn()'></p-button>
</div>
