<header
  class='sticky top-0 w-full h-20 bg-white shadow-lg backdrop-blur-lg backdrop-filter'>
  <div class='mx-auto pl-2 pr-14 py-3 h-full flex justify-between items-center'>
    <div class='flex flex-row items-center'>
      <a [routerLink]='[path.home]' class='mr-36 text-2xl font-bold no-underline cursor-pointer'>
        <img alt='Oxford Prime Academy' class='h-14' src='./assets/img/opa_logo.png'>
      </a>

      <span class='search p-input-icon-left'>
        <i class='pi pi-search'></i>
        <input type='text' pInputText placeholder='Search here...' [(ngModel)]='searchValue' />
      </span>

      <p-dropdown class='theme' [options]='themes' [(ngModel)]='selectedTheme' placeholder='Select Theme' [group]='true'
                  (onChange)='changeTheme($event)'>
        <ng-template let-group pTemplate='group'>
          <div class='p-d-flex p-ai-center'>
            <!--          <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'p-mr-2 flag flag-' + group.value" style="width: 20px"/>-->
            <span>{{group.label}}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class='flex flex-row items-center'>
<!--      <mat-icon aria-hidden='false' aria-label='Notifications' svgIcon='bell'></mat-icon>-->
      <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 1.5rem" value="2"></i>

      <p-menu class='menu' appendTo='body' #menu [popup]='true' [model]='items'></p-menu>

      <p-avatar
        id='avatar'
        icon='pi pi-user'
        styleClass='p-mr-2'
        size='large'
        [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
        shape='circle'
        (click)='menu.toggle($event)'>
      </p-avatar>

    </div>
  </div>
</header>
