.search {
  .p-inputtext {
    border: none;
  }

  .p-inputtext:focus {
    box-shadow: none;
  }

  .pi {
    font-size: 1.2rem;
    font-weight: 900;
  }

  //.p-input-icon-left > i:first-of-type {
  //  left: -1.5rem;
  //}
}

.menu {
  .p-menu {
    width: 100px;
  }
}
