<header
  class='sticky top-0 w-full h-20 shadow-lg  bg-opacity-10 bg-gray-50 dark:bg-gray-700 backdrop-blur-lg backdrop-filter'>
  <div class='mx-auto pl-2 pr-14 py-3 h-full flex justify-between items-center'>

    <a [routerLink]='[path.home]' class='text-2xl font-bold no-underline cursor-pointer'>
      <img alt='Oxford Prime Academy' class='h-14' src='./assets/img/opa_logo.png'>
    </a>

    <div>SEARCH</div>

    <div class='flex items-center'>
      <button
        (click)='onClickSignOut()'
        class='inline-block h-12 px-6 py-3 font-semibold text-gray-600 bg-gray-200 rounded-lg  hover:bg-gray-300 focus:ring-4 focus:ring-offset-gray-300 focus:outline-none'>
        Sign out
      </button>
    </div>
  </div>
</header>
